<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-between" id="navbarsExample05">
        <img class="logo" src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
        <ul class="navbar-nav mb-2 mb-lg-0 text-uppercase" style="font-size: larger;">
          <li class="nav-item">
            <a class="" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/test-error" routerLinkActive="active">Errors</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
            <a routerLink="/basket" class="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-3 text-dark"></i>
                <span *ngIf="(basketService.basketSource$ | async) as basket" class=" cart-no">
                    {{ getCount(basket.items) }}
                </span>
            </a>
            <ng-container *ngIf="(accountService.currentUser$ | async)=== null">
              <a routerLink="/account/login" class="btn btn-outline-secondary">Login</a>
              <a routerLink="/account/register" class="btn btn-outline-secondary me-3">Sign up</a>
            </ng-container>
            <ng-container *ngIf="(accountService.currentUser$ | async) as user ">
              <div class="dropdown ms-3 me-5" style="cursor: pointer;" dropdown>
                <a dropdownToggle class="dropdown-toggle">
                    <strong>Welcome {{user.displayName}}</strong>
                </a>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-end">
                    <li class="py-1">
                        <a routerLink="/basket" class="menu dropdown-item">
                            <i class="fa fa-shopping-cart me-3"></i> View basket
                        </a>
                    </li>
                    <li class="py-1">
                        <a routerLink="/orders" class="menu dropdown-item">
                            <i class="fa fa-history me-3"></i> View orders
                        </a>
                    </li>
                    <div class="dropdown-divider"></div>
                    <li class="py-1">
                        <a (click)="accountService.logout()" class="menu dropdown-item">
                            <i class="fa fa-sign-out me-3"></i> Logout
                        </a>
                    </li>
                </ul>
            </div>
            </ng-container>
            
        </div>
      </div>
    </div>
  </nav>
