<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-between" id="navbarsExample05">
        <img class="logo" src="/assets/images/logo.png" style="max-height: 70px;" alt="logo" routerLink="/">
        <ul class="navbar-nav mb-2 mb-lg-0 text-uppercase" style="font-size: larger;">
          <li class="nav-item">
            <a class="" aria-current="page" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/shop" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Shop</a>
          </li>
          <li class="nav-item">
            <a class="" routerLink="/contact" routerLinkActive="active">Contact</a>
          </li>
        </ul>
        <div class="d-flex align-items-center">
            <a class="position-relative">
                <i class="fa fa-shopping-cart fa-2x me-5 text-dark"></i>
                <span class=" cart-no">
                    5
                </span>
            </a>
            <a class="btn btn-outline-secondary me-2">Login</a>
            <a class="btn btn-outline-secondary me-3">Sign up</a>
        </div>
      </div>
    </div>
  </nav>
